<h1>🍰CAKES🎂</h1>

<div class="gallerybox">
    <div class="gallery">
      <img src="images/matchachococrepe.png">
      <div class="description"> "Matcha Choco Crepes" -- $15 Slice $70 Whole</div>
    </div>

    <div class="gallery">
      <img src="images/blackberry.jpg">
      <div class="description"> "Blackberry Cake" -- $6 Slice / $36 Whole</div>
    </div>

        <div class="gallery">
      <img src="images/carrot-cake.jpg">
      <div class="description"> "Carrot Cake" -- $8 Slice / $40 Whole</div>
    </div>

    <div class="gallery">
      <img src="images/nycheesecake.jpg">
      <div class="description"> "New York Cheesecake" -- $6 Slice / $36 Whole</div>
    </div>

        <div class="gallery">
      <img src="images/raspberry.jpg">
      <div class="description"> "Raspberry Cake" -- $8 Slice / $36 Whole</div>
    </div>

    <div class="gallery">
      <img src="images/redvcake.jpg">
      <div class="description"> "Red Velvet Cake" -- $10 Slice / $46 Whole</div>
    </div>

        <div class="gallery">
      <img src="images/choco.jpg">
      <div class="description"> "Linda's Fudge Cake" -- $8 Slice / $40 Whole</div>
    </div>

    <div class="gallery">
      <img src="images/strawberrylemonade.png">
      <div class="description"> "Strawberry Lemonade" -- $6 Slice / $36 Whole</div>
    </div>

  </div>