<h1>COOKIES</h1>

<div class="gallerybox">
    <div class="gallery">
      <img src="images/caramelcookie.png">
      <div class="description"> "Caramel Cookie" -- $10/lb</div>
    </div>

    <div class="gallery">
      <img src="images/chocchipcookie.jpg">
      <div class="description"> "Chocolate Chip Cookie" -- $8/lb</div>
    </div>

        <div class="gallery">
      <img src="images/chocothumbprint.jpg">
      <div class="description"> "Chocolate Thumbprint Cookie" -- $8/lb</div>
    </div>

    <div class="gallery">
      <img src="images/gingerbread.jpg">
      <div class="description"> "Gingerbread Cookie" -- $8/lb</div>
    </div>

        <div class="gallery">
      <img src="images/oatmealcookie.jpg">
      <div class="description"> "Oatmeal Cookie" -- $10/lb</div>
    </div>

    <div class="gallery">
      <img src="images/sugarcook.jpg">
      <div class="description"> "Sugar Cookie" -- $8/lb</div>
    </div>

        <div class="gallery">
      <img src="images/redcookie.jpg">
      <div class="description"> "Red Velvet Cookie" -- $10/lb</div>
    </div>

    <div class="gallery">
      <img src="images/peanutbuttercookie.jpg">
      <div class="description"> "Peanut-Butter Cookie" -- $10/lb</div>
    </div>

  </div>