<h1>HOME</h1>

  <div class="parallax-container">
      <div class="parallax"><img src="images/bakeryhome.jpg"></div>
    </div>

<h1>FORM</h1>

    <form action="/" method="POST" id="userform">
        <input class="emailadd" name="email" placeholder="Please Enter Email Address"/>
        <input class="namebox" name="name" placeholder="Enter name"/>
        <button>Submit</button>
    </form>

    <p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </p>