<h1>Welcome 🥃</h1>


<section class="summary">
<p>
Here at EdibleLand we've been baking from scratch each and every morning using only the highest quality, freshest ingredients available for over 10 years! Our bakers prepare 12-15 specialty cupcakes and other creative confections like breakfast pastries, croissants, brownies, seasonal bars & cookies, ice cream sandwiches, homemade marshmallows and more. <br> We also offer some gluten free options in house and a full line of coffee and espresso drinks for you to enjoy in the shop or for carry out.
Our daily menu features a wide variety of cupcakes and scratch baked confections in many traditional and modern flavors. We offer a rotation of seasonal baked goods, gift items, and feature a new flavor each week! Sweet delicacies and special occasion cakes for any event are available by custom order so give us a call and let us help with your celebration!</p>
</section>





  <div class="parallax-container">
      <div class="parallax"><img src="images/sweets.jpg"></div>
    </div>






<h1>FORM</h1>

<h3> If you would like to sign up for our free catalog, enter your email address and name below! We will provide with you a detailed list of all of our products and their prices.
</h3>


    <form action="/" method="POST" id="userform">
        <input type="email" class="emailadd" name="email" placeholder="Please enter email address"/>
        <input type="text" class="namebox" name="name" placeholder="Enter name"/>
        <button>Submit</button>
    </form>

    <p>
    <br>
    <br>
    </p>