<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="icon" sizes="16x16" href="https://i.pinimg.com/originals/18/c6/67/18c6679f9e4d88b99c966a4255c2161a.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"type="text/css" href="main.css">
  <title>Bakery Story</title>
</head>

<body>
<header>

<img class="headerimg" src="images/muff.jpg">


<img class="headerimg2" src="images/cookie.jpg">


<img class="headerimg3" src="images/marmalade.jpg">

<img class="logo" src="images/logo.png">
<img class="headerimgblk" src="images/black.jpg">


    <nav>
        <ul>

          <li><a href="/">HOME</a></li>
          <li><a class='dropdown-trigger btn' href='#' data-target='dropdown1'>EDIBLES &#11015 </a></li>
        </ul>
    </nav>

   <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/cookies"><i class="material-icons">insert_emoticon</i>Cookies</a></li>
    <li><a href="/cakes"><i class="material-icons">cake</i>Cakes</a></li>
    <li><a href="/muffins"><i class="material-icons">cloud</i>Muffins</a></li>
  </ul>






</header>
  <%= yield %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>