<h1>MUFFINS</h1>

<div class="gallerybox">
    <div class="gallery">
      <img src="images/applemuff.png">
      <div class="description"> "Apple Pie Muffins" -- $10halfdoz / $20doz</div>
    </div>

    <div class="gallery">
      <img src="images/blueberrymuff.jpg">
      <div class="description"> "Blueberry Muffins" -- $10halfdoz / $20doz</div>
    </div>

        <div class="gallery">
      <img src="images/chocomuff.jpg">
      <div class="description"> "Chocolate Muffins" -- $10halfdoz / $20doz</div>
    </div>

    <div class="gallery">
      <img src="images/pumpkinspicemuff.png">
      <div class="description"> "Pumpkin-Spice Muffins" -- $10halfdoz / $20doz</div>
    </div>

        <div class="gallery">
      <img src="images/pistachiomuff.jpg">
      <div class="description"> "Pistachio Muffins" -- $12halfdoz / $22doz</div>
    </div>

    <div class="gallery">
      <img src="images/brownsugarmuff.jpg">
      <div class="description"> "Brown Sugar Muffins" -- $10halfdoz / $20doz</div>
    </div>

        <div class="gallery">
      <img src="images/reesesmuff.jpg">
      <div class="description"> "Reese's Cup Muffins" -- $10halfdoz / $20doz</div>
    </div>

    <div class="gallery">
      <img src="images/custommuff.jpg">
      <div class="description"> "Assorted Muffins" -- $- halfdoz / $- doz</div>
    </div>

  </div>