

<% content_for :some_key do %>
<meta http-equiv="refresh" content="3; URL='https://calm-reef-66003.herokuapp.com/thankyou'" />

<% end %>


<h1>THANK YOU FOR SIGNING UP FOR OUR CATALOG!!</h1>


  <div class="parallax-container">
      <div class="parallax"><img src="images/sweets.jpg"></div>
    </div>
