nav {
    width: 100%;
    overflow: auto;
    background-color: black;
}

li {
    float: right;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 150px;
    padding-top: 50px;
}

nav a:hover {
    color: black;
    background-color: white;
}

nav ul {
    margin: auto;
}